APP_NAME=BK-Moph Notify
APP_ENV=production
APP_DEBUG=false
APP_SECRET_KEY=change-me
APP_URL=http://192.168.191.12:8012
NGINX_PORT=8012
ALLOWED_ORIGINS=http://192.168.191.12:8012
TRUSTED_HOSTS=192.168.191.12,localhost,127.0.0.1,app,app:8000,nginx,bk_app
SESSION_COOKIE_NAME=bk_notify_session
SESSION_EXPIRE_HOURS=12
SESSION_COOKIE_SECURE=false
SESSION_COOKIE_SAMESITE=lax
CSRF_ENABLED=true
CSRF_COOKIE_NAME=bk_notify_csrf
CSRF_HEADER_NAME=x-csrf-token
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DATABASE=bk_moph_notify
MYSQL_USER=bknotify
MYSQL_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-root
REDIS_URL=redis://redis:6379/0
INTERNAL_SUPERADMIN_USERNAME=superadmin
INTERNAL_SUPERADMIN_PASSWORD=BkhAdmin@11252
LOGIN_FAIL_LIMIT=5
IP_BAN_THRESHOLD=15
IP_BAN_WINDOW_MINUTES=30
UPLOAD_DIR=/app/storage/uploads
IMAGE_PUBLIC_BASE=/static/uploads
MAX_UPLOAD_MB=5

PROVIDER_LOGIN_ENABLED=true
HEALTH_ID_BASE_URL=https://moph.id.th
HEALTH_ID_CLIENT_ID=change-me
HEALTH_ID_CLIENT_SECRET=change-me
HEALTH_ID_REDIRECT_URI=http://192.168.191.12:8012/api/v1/auth/provider/callback
HEALTH_ID_SCOPE=openid profile
PROVIDER_BASE_URL=https://provider.id.th
PROVIDER_CLIENT_ID=change-me
PROVIDER_SECRET_KEY=change-me
PROVIDER_PROFILE_URL=https://provider.id.th/api/v1/services/profile
PROVIDER_SERVICE_TOKEN_URL=https://provider.id.th/api/v1/services/token
PROVIDER_PROFILE_MOPH_CENTER_TOKEN=0
PROVIDER_PROFILE_MOPH_IDP_PERMISSION=1
PROVIDER_PROFILE_POSITION_TYPE=1

MOPH_NOTIFY_BASE_URL=https://morpromt2f.moph.go.th
MOPH_NOTIFY_SEND_PATH=/api/notify/send
MOPH_NOTIFY_CLIENT_KEY=change-me
MOPH_NOTIFY_SECRET_KEY=change-me

HOSXP_DB_HOST=192.168.191.111
HOSXP_DB_PORT=3306
HOSXP_DB_NAME=hosxp
HOSXP_DB_USER=readonly_user
HOSXP_DB_PASSWORD=change-me
HOSXP_DB_CHARSET=utf8mb4
MAX_QUERY_ROWS=200
MAX_QUERY_SECONDS=20
